script(type='text/template', id='login-template')
  div.content
    label#err
    div.input
      label Username
      input(name='user')
    div.input
      label Password
      input(name='pass' type='password')
    button#send Login
