script(type='text/template', id='orders-template')
  include ../models/sidebar.jade
  div.content
    div#top
      div.items
        span Name
        span Adress
        span Date
        span Check
    div#orders
  
  
script(type='text/template', id='order-template')
  include ../models/sidebar.jade
  div.content
    div#form
      p Order ID: <%-_id%>
      p Stripe ID: <%-payment%>
      div.column
        hr
        <%var value = 0%>
        <%for (let entry of shoppingcart) {%>
        <%value += entry.item.price*entry.amount%>
        div.double
          p <%-entry.amount%>x <%-entry.item.name%>,
          p <%-entry.item.price*entry.amount%>€
        <%}%>
        hr
        div.double
          p Gesamt:
          p <%-value%>€
      <%if (checked == false){%>
      button.green#check Check
      <%}else{%>
      button.red#check Uncheck
      <%}%>
