script(type='text/template', id='shipping-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex Startseite
      a#toshop Einkaufen
      a Herstellung
      a#tocart Warenkorb
        span  (
        span#count <%-User.get('shoppingcart')%>
        span )
  div.content#form
    h2 Lieferadresse
    div.input
      label Vorname
      input(name='firstname' value!='<%-firstname%>')
    div.input
      label Nachname
      input(name='lastname' value!='<%-lastname%>')
    div.input
      label E-Mail
      input(name='email' value!='<%-email%>')
    div.input
      label Straße, Nummer
      input(name='street' value!='<%-street%>')
    div.input
      label PLZ
      input(name='zip' value!='<%-zip%>')
    div.input
      label Stadt
      input(name='town' value!='<%-town%>')
    div.input
      label Land
      select(name='country')
        option(name='Germany') Deutschland
    button#next Weiter
  include ../models/footer.jade
  
