script(type='text/template', id='model-item-template')
  img(src='/images/bottle1.png')
  div.box
    h3 <%-name%>
    div.list
      li <%-attributes[0]%>
      li <%-attributes[1]%>
      li <%-attributes[2]%>
    button in den Warenkorb
