extends layout

block content
 script(type='text/javascript' src='/library/underscore.js')
 script(type='text/javascript' src='/library/backbone.js')
 script(type='text/javascript' src='/library/backbone.native.js')
 script(type='text/javascript' src='/socket.io/socket.io.js')
 script(type='text/javascript' src='/dashboard/chartjs/chart.js/dist/Chart.js')

 //-----models-----//
 include ./models/item.jade
 include ./models/order.jade
 
 //-----sites-----//
 include ./sites/login.jade
 include ./sites/index.jade
 include ./sites/item.jade
 include ./sites/order.jade
 include ./sites/comments.jade
 
 div#app
   div.site

 //-----models-----//
 script(type='text/javascript' src='/javascripts/models.js')
 script(type='text/javascript' src='/dashboard/models.js')
 script(type='text/javascript' src='/javascripts/collections.js')
 
 //-----views-----//
 script(type='text/javascript' src='/dashboard/views/chart.js')
 script(type='text/javascript' src='/dashboard/views/item.js')
 script(type='text/javascript' src='/dashboard/views/order.js')
 
 //-----controller-----//
 script(type='text/javascript' src='/dashboard/controller/site.js')
 script(type='text/javascript' src='/dashboard/controller/login.js')
 script(type='text/javascript' src='/dashboard/controller/index.js')
 script(type='text/javascript' src='/dashboard/controller/item.js')
 script(type='text/javascript' src='/dashboard/controller/order.js')
 script(type='text/javascript' src='/dashboard/controller/comments.js')
   
 script(type='text/javascript' src='/dashboard/routing.js')
