doctype html
html
  head
   title='Dashboard'
   link(rel='stylesheet', href='/stylesheets/dashboard.css')
   link(rel='stylesheet', href='/stylesheets/fontawesome.css')
   meta(http-equiv='content-type' content='text/html; charset=utf-8')
   meta(name='description' content='')
   meta(name='keywords' content='')
   meta(name='viewport' content='initial-scale=1.0, user-scalable=no')
   meta(name='apple-mobile-web-app-capable' content='yes')
  body
    block content
