div#footer
  div.content
    div.footer
      div.row
        h4 Support
        a(href='#' target='_blank') Test
        a(href='#' target='_blank') Test
        a(href='#' target='_blank') Test
      div.row
        h4 Service
        a#tolpolicy Datenschutz
        a#toagb Nutzungsbedingungen
        a#toimprint Impressum
      div.row
        h4 Social Media
        span
          i(class='fa fa-facebook')
          a Facebook
        span
          i(class='fa fa-instagram')
          a Instagram
        span
          i(class='fa fa-twitter')
          a Twitter
