body {
	font-family: 'Roboto', sans-serif;
	display: grid;
	margin: 0;
	font-size: 16px;
	color: #000;
	background: #eee;
}

button {
	width: 200px;
	height: 50px;
	margin: auto;
	background: dodgerblue;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 2px;
}

button.new {
	width: 45px;
	height: 45px;
	margin: auto;
	font-size: 20px;
}

button.red {
	background: red;
}

button.green {
	background: green;
}

button:hover {
	box-shadow: inset 100px 100px rgba(255, 255, 255, 0.4);
}

button:active {
	box-shadow: inset 100px 100px rgba(155, 155, 155, 0.2);
}

button[inactive], button#check[inactive] {
	background: #555;
	cursor: default;
}

button[inactive]:hover {
	box-shadow: none;
}

input, textarea, select {
	display: grid;
	padding: 5px;
	font-size: 20px;
	border: 1px solid dodgerblue;
	border-style: outset;
	border-radius: 5px;
}

textarea {
	resize: none;
	min-height: 200px;
}

input[invalid] {
	border-color: red;
}

img {
	width: 100%;
}

video {
	width: 100%;
}

h2 {
	font-size: 30px;
}

a {
	cursor: pointer;
}

ul {
	margin: 0;
}

.double {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.triple{
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 10px;
}

#sidebar {
	position: fixed;
	display: grid;
	width: 200px;
	height: 100vh;
	top: 0;
	color: #fff;
	background: rgba(0, 0, 0, 1);
	border-right: 1px solid #555;
	grid-auto-rows: 50px;
	z-index: 1;
}

#sidebar span {
	display: grid;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	padding-left: 20px;
	cursor: pointer;
}

#sidebar span:hover {
	background: rgba(255, 255, 255, 0.1);
}

#sidebar span[active] {
	background: rgba(255, 255, 255, 0.1);
	border-left: 3px solid #555;
}

#top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.content {
	display: grid;
	margin-left: 200px;
}

.items {
	display: grid;
	height: 40px;
	margin-left: 200px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	background: #eee;
	border-bottom: 2px solid #9f8e27;
}

#items, #orders {
	display: grid;
	margin-top: 20px;
}

.item, .order {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #555;
	cursor: default;
}

.item:hover, .order:hover {
	background: rgba(155, 155, 155, 0.2);
}

#form {
	display: grid;
	width: 500px;
	margin: auto;
	margin-top: 50px;
	grid-gap: 10px;
}

#form input, #form textarea {
	width: 100%;
}

#new {
	margin: 20px;
	text-decoration: underline;
}

#orders .items {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#orders .item {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.check {
	color: green;
}
