script(type='text/template', id='cart-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex Startseite
      a#toshop Einkaufen
      a Herstellung
  div.content
    h2 Warenkorb
    div.items
      span Name
      span Info
      span Preis
    div#items
    div.item#total
      span Gesamtsumme
      span#totalprice
    button#next Zur Kasse
  include ../models/footer.jade
  
