script(type='text/template', id='checkout-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex Startseite
      a#toshop Einkaufen
      a Herstellung
      a#tocart Warenkorb
        span  (
        span#count <%-User.get('shoppingcart')%>
        span )
  div.content
    h2 Kasse
    div.third
      div.box
        h3 Zusammenfassung
        div.double
          div
            h3 Einkauf
            div.triple
              <%_.each(shoppingcart.models, (item) => {%>
              span <%-item.get('amount')%>x
              span <%-item.get('item').name%>
              span <%-item.get('amount')*item.get('item').price%>€
              <%})%>
            hr
            div.triple
              span Gesamt
              span
              span <%-shoppingcart.total()%>€
          div
            h3 Versand
      div.box
        h3 Lieferanschrift
        div.column
          span <%-user.lastname%>, <%-user.firstname%>
          span <%-user.street%>
          span <%-user.zip%> <%-user.town%>
          span <%-user.country%>
          a#toshipping Adresse ändern
      div.box
        h3 Bezahlen mit Kreditkarte
        form#payment-form
          div#card-element.column
          div#card-errors(role='alert')
          div.content
            button#submit Bezahlen
  include ../models/footer.jade
  
