script(type='text/template', id='item-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex Startseite
      a#toshop Einkaufen
      a Herstellung
      a#tocart Warenkorb
        span  (
        span#count <%-User.get('shoppingcart')%>
        span )
  div.content#showcase
    img(src='/images/bottle1.png')
    div.column
      h2 <%-name%>
      div.box
        p <%-info%>
    div.list
      li <%-attributes[0]%>
      li <%-attributes[1]%>
      li <%-attributes[2]%>
    div.double
      span <%-price%>€ pro Flasche zzgl. 5€ Versand
      button in den Warenkorb
  include ../models/footer.jade
  
